.peach {
    width: 200px;
    height: 200px;
    background: url("../assets/peach.jpg");
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  img {
    object-fit: cover;
  }
  
  * {
    box-sizing: border-box;
  }

